div:hover {
    transform: rotateX(45deg);
}
.box {
    background-color: red;
    width: 200px;
    height: 200px;
    Box-shadow: 2px 2px 4px rgb(95, 134, 131);
    transition: 1s all;

}

/* /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; */
/* } */
/* input + span {
    color: red;
    font-size: 50px;
/* } */  


/* * {
    color: red;
} */
button {
    width: 100px;
    height: 100px;
    transition: 1s all;
}

.pao:hover {
    transform: scale(2)

} */

body {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: black;
} */

} */
/* body {
    overflow:hidden;
}

p {
    width: 1000px;
} */

/* h1::first-letter {
    font-size: 50px;
    color:red;
} */

#text {
    color: orange;
} */
/* 
.item {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: black;
    outline: 50px solid red;


/* .item {
    width: 100px;
    height: 100px;
    background-color: grey;
    color: white;
    padding: 20px;
   box-sizing: unset;
} */


h1 {
    font-size: 1.9em;
}

div {
    font-size: 1.2em;
}

title {
    font-size: 1.2em;
} */

/* body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial {
    background-color: rgb(64, 170, 105);
    height: 200px;
    width: 100%;
}
.nav {
    background-color: rgb(141, 136, 90);
    height: 200px;
    width: 100%;
} */

.div_link {
    background-color: rgb(77, 31, 95);
    height: 200px;
    width: 100%;
    position: sticky;
    top: 0;
}
